<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196293168753-uk6admc212m0ab6hlhn67akh2pebt98c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196293168753-uk6admc212m0ab6hlhn67akh2pebt98c</string>
	<key>API_KEY</key>
	<string>AIzaSyCLcHExzbVoqO95d-3FhK9vS6F3Obv5Loc</string>
	<key>GCM_SENDER_ID</key>
	<string>196293168753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bharat.FirebaseDemoApp1</string>
	<key>PROJECT_ID</key>
	<string>fir-demoapp-14876</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demoapp-14876.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196293168753:ios:0a71d26c659a3d98c095d0</string>
</dict>
</plist>